<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{fragments/dashboard-layout}"
	> 
<head>
	<title>AA - Dashboard</title>
</head>
<body>
	<div layout:fragment="content" >
      <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
          <div>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Project Overview</li>
              </ol>
            </nav>
            <!-- <h4 class="mg-b-0 tx-spacing--1">Welcome to Dashboard</h4>-->
          </div>
          <div class="d-none d-md-block">            
            <button class="btn btn-sm pd-x-15 btn-success btn-uppercase mg-l-5"><i  class="wd-10 mg-r-5"></i> Any Additional Features ?</button>
          </div>
        </div>

        <div class="row row-xs">
        <!-- @vrmehra commenting Test Coverage in Dashboard for 30-Sep-2020 demo
        	<div class='col-lg-12 mg-b-10'> 
				<div class="card">
	              <div class="card-header d-sm-flex justify-content-between bd-b-0 pd-t-20 pd-b-0">
	                <div class="mg-b-10 mg-sm-b-0">
	                  <h6 class="mg-b-5">Oracle Cloud Applications Test Coverage</h6>
	                  
	                </div>
	                
	              </div>
	              <div class="card-body">
                		<p>Analyze if you Test Coverage is in par to standard coverage by other customers in your industry. You can reach out to us for more details.</p>
              	  
	              <!-- card-body - ->
	              
	                <div class="row row-sm">
	                  <div class="col-6 col-sm-4 col-md-3 col-lg">
	                    <h4 class="tx-normal tx-rubik mg-b-10">30</h4>
	                    <div class="progress ht-2 mg-b-10">
	                      <div class="progress-bar wd-20p bg-df-2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
	                    </div>
	                    <h6 class="tx-uppercase tx-spacing-1 tx-semibold tx-10 tx-color-02 mg-b-2">Core HR</h6>
	                    <p class="tx-10 tx-color-03 mg-b-0">You are at <span class="tx-medium tx-danger">20% </span> coverage with market standards.</p>
	                  </div><!-- col - ->
	                  <div class="col-6 col-sm-4 col-md-3 col-lg">
	                    <h4 class="tx-normal tx-rubik mg-b-10">160</h4>
	                    <div class="progress ht-2 mg-b-10">
	                      <div class="progress-bar wd-30p bg-df-2" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
	                    </div>
	                    <h6 class="tx-uppercase tx-spacing-1 tx-semibold tx-10 tx-color-02 mg-b-2">Financials</h6>
	                    <p class="tx-10 tx-color-03 mg-b-0">You are at <span class="tx-medium tx-danger">32%</span> coverage with market standards.</p>
	                  </div><!-- col - ->
	                  <div class="col-6 col-sm-4 col-md-3 col-lg mg-t-20 mg-sm-t-0">
	                    <h4 class="tx-normal tx-rubik mg-b-10">120</h4>
	                    <div class="progress ht-2 mg-b-10">
	                      <div class="progress-bar wd-100p bg-df-2" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
	                    </div>
	                    <h6 class="tx-uppercase tx-spacing-1 tx-semibold tx-10 tx-color-02 mg-b-2">Payroll</h6>
	                    <p class="tx-10 tx-color-03 mg-b-0">You are at <span class="tx-medium tx-success">100%</span> coverage with market standards.</p>
	                  </div><!-- col - ->
	                  <div class="col-6 col-sm-4 col-md-3 col-lg mg-t-20 mg-md-t-0">
	                    <h4 class="tx-normal tx-rubik mg-b-10">0</h4>
	                    <div class="progress ht-2 mg-b-10">
	                      <div class="progress-bar wd-0p bg-df-2" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
	                    </div>
	                    <h6 class="tx-uppercase tx-spacing-1 tx-semibold tx-10 tx-color-02 mg-b-2">Supply Chain</h6>
	                    <p class="tx-10 tx-color-03 mg-b-0">Not Applicable as you have not implemented SCM modules.</p>
	                  </div><!-- col - ->
	                  <div class="col-6 col-sm-4 col-md-3 col-lg mg-t-20 mg-lg-t-0">
	                    <h4 class="tx-normal tx-rubik mg-b-10">0</h4>
	                    <div class="progress ht-2 mg-b-10">
	                      <div class="progress-bar wd-0p bg-df-2" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
	                    </div>
	                    <h6 class="tx-uppercase tx-spacing-1 tx-semibold tx-10 tx-color-02 mg-b-2">Customer Experience</h6>
	                    <p class="tx-10 tx-color-03 mg-b-0">Not Applicable as you have not implemented CX modules.</p>
	                  </div><!-- col - ->
	                </div><!-- row - ->
	              </div><!-- card-body - ->
	            </div>        
           </div>
        
        -->
          <div class="col-lg-8 mg-b-10">         
        	<div class="card mg-b-10">
              <div class="card-header pd-t-20 pd-b-0 bd-b-0">
                <h6 class="mg-b-5">Project Deliverables</h6>
              </div><!-- card-header -->
              <div class="card-body pd-20">
                <div class="row">
                  <div class="col-sm">
                    <h4 class="tx-normal tx-rubik tx-spacing--1 mg-b-5">391</h4>
                    <p class="tx-11 tx-uppercase tx-spacing-1 tx-semibold mg-b-10 tx-primary">Test Scripts Automated</p>
                    <div class="tx-12 tx-color-03" style='text-align:justify'>All automation feasible scripts were automated. Remaining are executed manually along with test runs. </div>
                  </div><!-- col -->
                  
                  <div class="col-sm mg-t-20 mg-sm-t-0">
                    <h4 class="tx-normal tx-rubik tx-spacing--1 mg-b-5">10</h4>
                    <p class="tx-11 tx-uppercase tx-spacing-1 tx-semibold mg-b-10 tx-success">Test Runs Executed so far</p>
                    <div class="tx-12 tx-color-03" style='text-align:justify'>Successfully delivered execution results for all test runs and logged defects whenever discrepancies identified.</div>
                  </div><!-- col -->
                  <div class="col-sm">
                    <h4 class="tx-normal tx-rubik tx-spacing--1 mg-b-5">165</h4>
                    <p class="tx-11 tx-uppercase tx-spacing-1 tx-semibold mg-b-10 tx-danger">Defects logged</p>
                    <div class="tx-12 tx-color-03" style='text-align:justify'>Defects identified during the test runs were logged and notified to you. </div>
                  </div><!-- col -->
                  
                </div><!-- row -->
              </div><!-- card-body -->
            </div><!-- card -->
		                    
            <div class="card mg-b-10">
              <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between bd-b-0 pd-b-0">
                <div>
                  <h6 class="mg-b-5">Recent Results</h6>
                  <p class="tx-13 tx-color-03 mg-b-0">Test execution results for the latest run: <a href="#">AA - Stabilization-Run-15-Jun-2020-Run1</a></p>
                </div>

              </div><!-- card-header -->
              <div class="card-body pd-y-30">
                <div class="d-sm-flex">
                  <div class="media">
                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">
                      <i data-feather="bar-chart-2"></i>
                    </div>
                    <div class="media-body">
                      <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">Tests Passed</h6>
                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0">307 <small class='tx-success'>79%</small></h4>
                    </div>
                  </div>
                  <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-5">
                      <i data-feather="bar-chart-2"></i>
                    </div>
                    <div class="media-body">
                      <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Tests Failed</h6>
                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0">80 <small class='tx-danger'>20%</small></h4>
                    </div>
                  </div>
                  <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-warning tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-4">
                      <i data-feather="bar-chart-2"></i>
                    </div>
                    <div class="media-body">
                      <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Tests Not Run</h6>
                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0">4 <small class="tx-warning">01%</small></h4>
                    </div>
                  </div>
                </div>
              </div><!-- card-body -->
              <div class="table-responsive">
                <table class="table table-dashboard mg-b-0">
                  <thead>
                    <tr>
                      <th>Module</th>
                      <th class="text-right">Total Tests</th>
                      <th class="text-right">Passed</th>
                      <th class="text-right">Failed</th>
                      <th class="text-right">Not Run</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="tx-normal">Account Payables</td>
                      <td class="tx-medium text-right">55</td>
                      <td class="text-right tx-success">35 <span class="mg-l-5 tx-10 tx-normal tx-success"> 64%</span></td>
                      <td class="text-right tx-danger">16 <span class="mg-l-5 tx-10 tx-normal tx-danger"> 29%</span></td>
                      <td class="tx-medium text-right">4 <span class="mg-l-5 tx-10 tx-normal tx-normal"> 07%</span></td>
                    </tr>
                    <tr>
                      <td class="tx-normal">Account Receivables</td>
                      <td class="tx-medium text-right">105</td>
                      <td class="text-right tx-success">90 <span class="mg-l-5 tx-10 tx-normal tx-success"> 86%</span></td>
                      <td class="text-right tx-danger">15 <span class="mg-l-5 tx-10 tx-normal tx-danger"> 14%</span></td>
                      <td class="tx-medium text-right">0 <span class="mg-l-5 tx-10 tx-normal tx-normal"> 00%</span></td>
                    </tr>
                    <tr>
                      <td class="tx-normal">Purchasing</td>
                      <td class="tx-medium text-right">81</td>
                      <td class="text-right tx-success">51 <span class="mg-l-5 tx-10 tx-normal tx-success"> 63%</span></td>
                      <td class="text-right tx-danger">30 <span class="mg-l-5 tx-10 tx-normal tx-danger"> 37%</span></td>
                      <td class="tx-medium text-right">0 <span class="mg-l-5 tx-10 tx-normal tx-normal"> 00%</span></td>
                    </tr>
                    <tr>
                      <td class="tx-normal">Core HR</td>
                      <td class="tx-medium text-right">30</td>
                      <td class="text-right tx-success">29 <span class="mg-l-5 tx-10 tx-normal tx-success"> 97%</span></td>
                      <td class="text-right tx-danger">1<span class="mg-l-5 tx-10 tx-normal tx-danger"> 03%</span></td>
                      <td class="tx-medium text-right">0 <span class="mg-l-5 tx-10 tx-normal tx-normal"> 00%</span></td>
                    </tr>
                    <tr>
                      <td class="tx-normal">Payroll</td>
                      <td class="tx-medium text-right">120</td>
                      <td class="text-right tx-success">102 <span class="mg-l-5 tx-10 tx-normal tx-success"> 98%</span></td>
                      <td class="text-right tx-danger">18 <span class="mg-l-5 tx-10 tx-normal tx-danger"> 02%</span></td>
                      <td class="tx-medium text-right">0 <span class="mg-l-5 tx-10 tx-normal tx-normal"> 00%</span></td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- table-responsive -->
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-lg-4 mg-b-10">
          	
                <div class="card mg-b-10">
                  <div class="card-header pd-t-20 pd-b-0 bd-b-0 d-flex justify-content-between">
                    <h6 class="lh-5 mg-b-0">Open Defects</h6>
                   
                  </div><!-- card-header -->
                  <div class="card-body pd-0 pos-relative">
                    <div class="pos-absolute t-10 l-20 z-index-10">
                      <div class="d-flex align-items-baseline">
                        <h1 class="tx-normal tx-rubik mg-b-0 mg-r-5">165</h1>
                        <p class="tx-11 tx-color-03 mg-b-0"><span class="tx-medium tx-success">0.3% <i class="icon ion-md-arrow-down"></i></span> than last month</p>
                      </div>
                      <p class="tx-12 tx-color-03 wd-60p">The total number of defects that are still open.</p>
                    </div>

                    <div class="chart-sixteen">
                      <div id="flotChart7" class="flot-chart"></div>
                    </div>
                  </div><!-- card-body -->
                </div><!-- card -->          	
          	
          	
                <div class="card">
                  <div class="card-header pd-b-0 pd-x-20 bd-b-0">
                    <div class="d-sm-flex align-items-center justify-content-between">
                      <h6 class="mg-b-0">Recent Activities</h6>
                      <p class="tx-12 tx-color-03 mg-b-0">Last activity: 2 hours ago</p>
                    </div>
                  </div><!-- card-header -->
                  <div class="card-body pd-20">
                    <ul class="activity tx-13">
                      <li class="activity-item">
                        <div class="activity-icon bg-primary-light tx-primary">
                          <i data-feather="clock"></i>
                        </div>
                        <div class="activity-body">
                          <p class="mg-b-2"><strong>Mahesh</strong> scheduled a test execution to run at  10:00 PM IST.</p>
                          <small class="tx-color-03">2 hours ago</small>
                        </div><!-- activity-body -->
                      </li><!-- activity-item -->
                      <li class="activity-item">
                        <div class="activity-icon bg-success-light tx-success">
                          <i data-feather="paperclip"></i>
                        </div>
                        <div class="activity-body">
                          <p class="mg-b-2"><strong>Raj</strong> added new attachment to the test case <a href="" class="link-01"><strong>TC-HR-02</strong></a></p>
                          <small class="tx-color-03">5 hours ago</small>
                        </div><!-- activity-body -->
                      </li><!-- activity-item -->

                      <li class="activity-item">
                        <div class="activity-icon bg-pink-light tx-pink">
                          <i data-feather="plus-circle"></i>
                        </div>
                        <div class="activity-body">
                          <p class="mg-b-2"><strong>Srinivas</strong> added new defect <a href="" class="link-02"><strong>DF-0081</strong></a></p>
                          <small class="tx-color-03">Yesterday</small>
                        </div><!-- activity-body -->
                      </li><!-- activity-item -->
                      <li class="activity-item">
                        <div class="activity-icon bg-warning-light tx-orange">
                          <i data-feather="share"></i>
                        </div>
                        <div class="activity-body">
                          <p class="mg-b-2"><strong>Navneet</strong> uploaded <a href="" class="link-02"><strong>Test Cases</strong></a> to project.</p>
                          <small class="tx-color-03">1 month ago</small>
                        </div><!-- activity-body -->
                      </li><!-- activity-item -->                      
                    </ul><!-- activity -->
                  </div><!-- card-body -->
                </div><!-- card -->
            
          </div>    
        </div><!-- row -->
      </div><!-- container -->	  
	</div>
	
	<th:block layout:fragment="script">
        <script src="../../assets/js/dashboard-one.js" th:src="@{/assets/js/dashboard-one.js}"></script>
     </th:block>
</body>
</html>