<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{fragments/app-layout}"
	> 
<head>
	<title>AA - Test Cycles</title>
</head>
<body>
	<div layout:fragment="content" >
      <div class="row">
      	
      		<div class='col-lg-12 mg-b-10'> 
				<div class="card">
	              <div class="card-header d-sm-flex justify-content-between bd-b-0 pd-t-20 pd-b-0">
	                <div class="mg-b-10 mg-sm-b-0">
	                  <h6 class="mg-b-5">Oracle Cloud Applications Test Coverage</h6>
	                  
	                </div>
	                
	              </div>
	              <div class="card-body">
                		<p>Analyze if you Test Coverage is in par to standard coverage by other customers in your industry. You can reach out to us for more details.</p>
              	  
	              <!-- card-body -->
	              
	                <div class="row row-sm">
	                  <div class="col-6 col-sm-4 col-md-3 col-lg">
	                    <h4 class="tx-normal tx-rubik mg-b-10">30</h4>
	                    <div class="progress ht-2 mg-b-10">
	                      <div class="progress-bar wd-20p bg-df-2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
	                    </div>
	                    <h6 class="tx-uppercase tx-spacing-1 tx-semibold tx-10 tx-color-02 mg-b-2">Core HR</h6>
	                    <p class="tx-10 tx-color-03 mg-b-0">You are at <span class="tx-medium tx-danger">20% </span> coverage with market standards.</p>
	                  </div><!-- col -->
	                  <div class="col-6 col-sm-4 col-md-3 col-lg">
	                    <h4 class="tx-normal tx-rubik mg-b-10">160</h4>
	                    <div class="progress ht-2 mg-b-10">
	                      <div class="progress-bar wd-30p bg-df-2" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
	                    </div>
	                    <h6 class="tx-uppercase tx-spacing-1 tx-semibold tx-10 tx-color-02 mg-b-2">Financials</h6>
	                    <p class="tx-10 tx-color-03 mg-b-0">You are at <span class="tx-medium tx-danger">32%</span> coverage with market standards.</p>
	                  </div><!-- col -->
	                  <div class="col-6 col-sm-4 col-md-3 col-lg mg-t-20 mg-sm-t-0">
	                    <h4 class="tx-normal tx-rubik mg-b-10">120</h4>
	                    <div class="progress ht-2 mg-b-10">
	                      <div class="progress-bar wd-100p bg-df-2" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
	                    </div>
	                    <h6 class="tx-uppercase tx-spacing-1 tx-semibold tx-10 tx-color-02 mg-b-2">Payroll</h6>
	                    <p class="tx-10 tx-color-03 mg-b-0">You are at <span class="tx-medium tx-success">100%</span> coverage with market standards.</p>
	                  </div><!-- col -->
	                  <div class="col-6 col-sm-4 col-md-3 col-lg mg-t-20 mg-md-t-0">
	                    <h4 class="tx-normal tx-rubik mg-b-10">0</h4>
	                    <div class="progress ht-2 mg-b-10">
	                      <div class="progress-bar wd-0p bg-df-2" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
	                    </div>
	                    <h6 class="tx-uppercase tx-spacing-1 tx-semibold tx-10 tx-color-02 mg-b-2">Supply Chain</h6>
	                    <p class="tx-10 tx-color-03 mg-b-0">Not Applicable as you have not implemented SCM modules.</p>
	                  </div><!-- col -->
	                  <div class="col-6 col-sm-4 col-md-3 col-lg mg-t-20 mg-lg-t-0">
	                    <h4 class="tx-normal tx-rubik mg-b-10">0</h4>
	                    <div class="progress ht-2 mg-b-10">
	                      <div class="progress-bar wd-0p bg-df-2" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
	                    </div>
	                    <h6 class="tx-uppercase tx-spacing-1 tx-semibold tx-10 tx-color-02 mg-b-2">Customer Experience</h6>
	                    <p class="tx-10 tx-color-03 mg-b-0">Not Applicable as you have not implemented CX modules.</p>
	                  </div><!-- col -->
	                </div><!-- row -->
	              </div><!-- card-body -->
	            </div>        
           </div>      	       
       </div>
      </div> 
</body>
</html>